/* 
 * amrullah
 */
#hiddenSplitter {
	-fx-background-color: null;
}

#hiddenSplitter *.split-pane-divider,
#hiddenSplitter *.vertical-grabber, 
#hiddenSplitter *.horizontal-grabber {
	-fx-background-color: null;
	-fx-border-color: null;
	-fx-padding: 5px;
}

.dock-pos-indicator {
	-fx-padding: 5;
	-fx-hgap: 20;
	-fx-vgap: 20;
	-fx-shape: "M0,10 a10,10 0 1,0 20,0 a10,10 0 1,0 -20,0";
	-fx-background-color: rgba(18, 109, 149, 0.4);
	-fx-border-width: 40;
	-fx-border-color: rgba(18, 109, 149, 0.2);
}

.drop-right, .drop-left, .drop-top, .drop-bottom {
	-fx-background-color: -fx-body-color;
	-fx-background-insets: 0;
	-fx-background-radius: 15;
	-fx-padding:5;
}

.drop-left {
	-fx-graphic: url('image/left.png');
}

.drop-right {
	-fx-graphic: url('image/right.png');
}

.drop-top {
	-fx-graphic: url('image/top.png');
}

.drop-bottom {
	-fx-graphic: url('image/bottom.png');
}

.drop-path {
	-fx-stroke : #ec706a;
	-fx-stroke-width: 2;
	-fx-stroke-line-join: bevel;
}
